/* COLORS ---*/
$color-title: #000 !default;
$color-text-tag: #777 !default;


/* FONTS ---*/
$font-family:'Muli', sans-serif !default;
$font-regular: 400 !default;
$font-bold: 700 !default;


/* BREAKPOINTS ---*/
$bp-sm: 480px  !default;
$bp-md: 769px !default;