@import "./_variables.scss";

body {
    font-family:$font-family;
    margin:0;
    padding:0;
}

footer {
    height: 20px;
    background-color:#fff;
}

.container {
    padding:10px 30px;
    
}

.SearchBar {
    height:52px;
    border:1px solid #dddddd;
    margin: 0 0 12px 0;
    display:flex;
    &__btnSearch{
        -webkit-appearance:none;
        background: url('./img/loop.svg') 70% 50% no-repeat;
        background-size:24px 24px;
        border: none;
        width:47px;
        height: 100%;
        border-right:1px solid #dddddd;
    }
    &__input {
        border: none;
        padding: 0 0 0 20px;
        width: 100%;
    }
}

.Tag {
    background: #fcfcfc;
    border:1px solid #ececec;
    border-radius: 30px;
    color:$color-text-tag;
    font-size: 11px;
    padding:  0 12px;
    height:20px;
    line-height:20px;
    display: inline-block;
}

.CardList {
    padding: 0 3px;
}

.Card {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05);
    padding:16px;
    border:1px #f5f5F5 solid;
    height:100px;
    position: relative;
    margin: 0 0 16px 0;
    box-sizing: border-box;
    &__title {
        color:$color-title;
        font-size:14px;
        font-weight: $font-bold;
        text-align: center;
        margin: 0;
    }
    &__content {
        display: flex;
        flex-wrap:wrap;
        position:absolute;
        bottom:8px;
        width:100%;
    }
    .Tag {
        margin: 0 10px 2px 0;
        align-self: flex-end;
    }
}

@media screen and (min-width: $bp-sm)  {
    
    .CardList {
      display: flex;
      flex-wrap: wrap;
      
    }
    .Card {
      width:calc(50% - 4px);
      &:nth-child(even) {
        margin: 0 4px 16px 0;
      }
      &:nth-child(odd) {
        margin: 0 0 16px 4px;
      }
      
    }
  }


  @media screen and (min-width: $bp-md) {
    .Card {
        width:calc(25% - 4px);
    }
  }